@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    scroll-behavior: smooth;
    background-color: #dee2e6;
}

*::selection{
    background-color: #adb5bd;
    color: black;
}

a:visited,a{
    color: black;
    text-decoration: none;
}

.intro{
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.intro-text{
    color: rgb(233, 233, 233);
    font-size: 3rem;
}

.slider{
    background: rgb(97, 105, 109);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    z-index: 100;
}

.hide{
    background: black;
    overflow: hidden;
}

.hide span{
    transform: translateY(100%);
    display: inline-block;
}

/* iframe::-webkit-scrollbar{
    display: none;
}

iframe{
    -ms-overflow-style: none;
    scrollbar-width: none;
} */

nav{
    
    height: 50px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    /* backdrop-filter: blur(100px); */
    justify-content: space-around;
    /* animation: appear 2s ease-in-out; */
    backdrop-filter: blur(10px);
    background: rgba(222,226,230,.8);
}

@keyframes appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.logo a{
    color: black;
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
}

.nav-links{
    display: flex;
    width: 40%;
    justify-content: space-around;
    list-style: none;
}

.nav-links li a{
    color: black;
    text-decoration: none;
    transition: .3s;
    font-size: 16px;
    display: inline-block;
    margin: 0;
    font-weight: 300;
    letter-spacing: 1px;
}

.nav-links li a::after{
    display: block;
    content: '';
    border-bottom: solid 1px black;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
}

.nav-links li a:hover::after{
    transform: scaleX(1);
}

/* ----------------header------------------ */

#projects{
    width: 60%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 50px;
}

#projects > h1{
    font-size: 7rem;
    margin: 20px 0 60px;
    user-select: none;
    font-weight: 400;
}

.project{
    margin: 40px 0;
    position: relative;
    transition: .3s;
}

.project > span{
    font-size: 5rem;
    /* line-height: 6rem; */
    /* user-select: none; */
    font-weight: 200;
    cursor: pointer;
    /* animation: slideToTheSide .5s forward; */
    /* transition: width ; */
    /* transition: .3s; */
    
}

/* .project>span:hover{
    margin-left: 30px;
} */

.project:hover{
    margin-left: 30px;
}

.tags{
    display: flex;
    align-items: center;
}

.tags > span{
    color: #e63946;
    margin: 0 10px;
}

.tags span:first-child{
    margin-left: 0;
}

.tags span i{
    font-size: 20px;
    line-height: 20px;
}

/* @keyframes slideToTheSide {
    from{
        margin-left: 0px;
        width: 100%;
    }
    to{
        margin-left: 100px;
        width: 130%;
    }
} */

/* --------------responsive---------------- */

@media screen and (max-width:500px){
    .intro-text{
        font-size: 2rem;
    }
}

@media screen and (max-width:345px){
    .intro-text{
        font-size: 1.5rem;
    }
}