@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    scroll-behavior: smooth;
}

*::selection{
    background-color: white;
    color: black;
}

a:visited,a{
    color: black;
    text-decoration: none;
}

.intro{
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.intro-text{
    color: rgb(233, 233, 233);
    font-size: 3rem;
}

.slider{
    background: rgb(97, 105, 109);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    z-index: 100;
}

.hide{
    background: black;
    overflow: hidden;
}

.hide span{
    transform: translateY(100%);
    display: inline-block;
}

/* iframe::-webkit-scrollbar{
    display: none;
}

iframe{
    -ms-overflow-style: none;
    scrollbar-width: none;
} */

nav{
    
    height: 50px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    /* backdrop-filter: blur(100px); */
    justify-content: space-around;
    /* animation: appear 2s ease-in-out; */
}

@keyframes appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.logo a{
    color: black;
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
}

.nav-links{
    display: flex;
    width: 40%;
    justify-content: space-around;
    list-style: none;
}

.nav-links li a{
    color: black;
    text-decoration: none;
    transition: .3s;
    font-size: 16px;
    display: inline-block;
    margin: 0;
    font-weight: 400;
    letter-spacing: 1px;
}

.nav-links li a::after{
    display: block;
    content: '';
    border-bottom: solid 1px black;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
}

.nav-links li a:hover::after{
    transform: scaleX(1);
}

/* ----------------header------------------ */

#header{
    height: 100%;
    /* overflow: hidden; */
    width: 100%;
    background: #F6EEE3;
    position: absolute;
}

#header .project-cont{
    width: 60%;
    margin: auto;
    top: 20%;
    position: relative;
}

#header .project-cont span{
    font-size: 4rem;
    font-weight: 500;
    color: #333;
    transform: scaleY(2.5);
    font-family: 'Orpheus Pro',Times,serif;
}

#header .project-cont span::after{
    content: '';
    display: block;
    width: 65%;
    height: 1px;
    background: grey;
    right: 0;
    top: 50%;
    position: absolute;
}

.pro-cont{
    width: 70%;
    margin: auto;
    position: relative;
    top: 35%;
}

.pro{
    display: flex;
    align-items: center;
}

.pro.one .img-cont{
    width: 500px;
    height: 250px;
    background: url("./Screenshot\ \(221\).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pro.two .img-cont{
    width: 500px;
    height: 250px;
    background: url("./Screenshot\ \(221\).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tech-stack{
    display: flex;
}

.tech-stack .tags{
    font-size: 13px;
    padding: 5px 8px;
}

.tags .fab{
    font-size: 20px;
    cursor: pointer;
}

.tech-stack .tags:first-child{
    padding-left: 0;
}

.tech-stack .tags:last-child{
    padding-right: 0;
}


/* --------------responsive---------------- */

@media screen and (max-width:500px){
    .intro-text{
        font-size: 2rem;
    }
}

@media screen and (max-width:345px){
    .intro-text{
        font-size: 1.5rem;
    }
}