/* --------------------header--------------------- */

#header{
    height: 100vh;
    /* background: rgba(39, 39, 39,.5); */
    /* background-image: linear-gradient(315deg, #414141 0%, #000000 100%); */
    background-color: #F6EEE3;
    
}

.job-names{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-around;
    width: 80%;
    animation: slideUp 2s ease-in-out;
}

@keyframes slideUp {
    from{
        opacity: 0;
        top: 55%;
    }
    to{
        opacity: 1;
        top: 50%;
    }
}

.job-names .job{
    color: black;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    font-size: 5rem;
    font-weight: 600;
    cursor: pointer;
    line-height: 5rem;
    
}


/* ----------------social media------------------- */

section.socialMedia{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    transition: .5s;
    animation-name: appearOnScroll;
    animation-duration: 1s;
}

.socialLinks{
    position: relative;
    display: flex;
}

.socialLinks li{
    list-style: none;
}

.socialLinks li::before{
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 10vw;
    transform: translate(-50%,-50%);
    pointer-events: none;
    font-weight: 700;
    transition: .5s;
    opacity: 0;
}

.socialLinks li:hover::before{
    opacity: .2;
    /* transform: translate(-50%,calc(-50%+150px)); */
}

.socialLinks li a{
    position: relative;
    display: inline-block;
    width: 120px;
    height: 120px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    border-radius: 10px;
    text-decoration: none;
    margin: 20px;
    font-size: 4em;
    transform-style: preserve-3d;
    perspective: 500px;
    box-shadow: 0 25px 35px rgba(0, 0, 0, .1);
    transition: background .25s;
}

.socialLinks li a:hover.facebook{
    background: #1877f2;
}
.socialLinks li a:hover.youtube{
    background: #ff0000;
}
.socialLinks li a:hover.instagram{
    background: #e4405f;
}
.socialLinks li a:hover.mail{
    background: rgb(11, 44, 150);
}

.socialLinks li a .fa{
    transition: .25s;
    pointer-events: none;
}

.socialLinks li a:hover .fa{
    color: #fff;
}

/* -------------------footer---------------------- */

footer .form{
    background: black;
    padding: 90px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .form form{
    display: flex;
    flex-direction: column;
}

footer .form form span{
    color: white;
    font-size: 25px;
    display: block;
    margin-bottom: 30px;
    text-align: center;
}

/* footer .form form span::after{
    content: '';
    border-bottom: 1px solid white;
    width: 30%;
    display: block;
    margin: 0 auto;
} */

footer .form form input{
    padding: 10px 0;
    color: white;
    background-color: #000000;
    border: none;
    font-size: 17px;
    width: 400px;
    border-bottom: 1px solid rgb(150, 150, 150);
}


footer .form button{
    margin-top: 20px;
    padding: 10px 30px;
    cursor: pointer;
    font-weight: 500;
    display: inline-block;
    font-size: 17px;
    position: relative;
    transition: all .3s;
}

footer .form button::after{
    content: '\1F872';
    position: absolute;
    transition: all .3s;
    right: -20px;
    top: 10px;
    opacity: 0;
}

footer .form button:hover{
    padding-right: 40px;
    padding-left: 20px;
}

footer .form button:hover:after {
    opacity: 1;
    right: 10px;
}

footer .copyright{
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen  and (max-width:746px){
    section.socialMedia{
        height: 200px;
    }
    .socialLinks li a{
        width: 80px;
        height: 80px;
        font-size: 2.5rem;
    }
}

@media screen  and (max-width:500px){
    .socialLinks{
        padding: 0 10px;
    }
    .socialLinks li a{
        margin: 20px 10px;
    }
    footer .form form input{
        width: 300px;
    }
}

@media screen and (max-width:425px){
    section.socialMedia{
        height: max-content;
    }
    .socialLinks{
        flex-direction: column;
    }
}

@media screen and (max-width:350px){
    footer .form form span{
        font-size: 20px;
    }
    footer .form form input{
        width: 250px;
    }
}